@font-face {
  font-family: 'elusivewebiconsmedium';
  src: url('elusive-webfont.eot');
  src: url('elusive-webfont.eot?#iefix') format('embedded-opentype'),
       url('elusive-webfont.woff') format('woff'),
       url('elusive-webfont.ttf') format('truetype'),
       url('elusive-webfont.svg#elusivewebiconsmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}