$elusiveWebfontPath: '../fonts/';
$Elusive-iconfontVersion: 2;

// list

$el-var-zoom-out: "\e600";
$el-var-zoom-in: "\e601";
$el-var-youtube: "\e602";
$el-var-wrench-alt: "\e603";
$el-var-wrench: "\e604";
$el-var-wordpress: "\e605";
$el-var-wheelchair: "\e606";
$el-var-website-alt: "\e607";
$el-var-website: "\e608";
$el-var-warning-sign: "\e609";
$el-var-w3c: "\e60a";
$el-var-volume-up: "\e60b";
$el-var-volume-off: "\e60c";
$el-var-volume-down: "\e60d";
$el-var-vkontakte: "\e60e";
$el-var-vimeo: "\e60f";
$el-var-view-mode: "\e610";
$el-var-video-chat: "\e611";
$el-var-video-alt: "\e612";
$el-var-video: "\e613";
$el-var-viadeo: "\e614";
$el-var-user: "\e615";
$el-var-usd: "\e616";
$el-var-upload: "\e617";
$el-var-unlock-alt: "\e618";
$el-var-unlock: "\e619";
$el-var-universal-access: "\e61a";
$el-var-twitter: "\e61b";
$el-var-tumblr: "\e61c";
$el-var-trash-alt: "\e61d";
$el-var-trash: "\e61e";
$el-var-torso: "\e61f";
$el-var-tint: "\e620";
$el-var-time-alt: "\e621";
$el-var-time: "\e622";
$el-var-thumbs-up: "\e623";
$el-var-thumbs-down: "\e624";
$el-var-th-list: "\e625";
$el-var-th-large: "\e626";
$el-var-th: "\e627";
$el-var-text-width: "\e628";
$el-var-text-height: "\e629";
$el-var-tasks: "\e62a";
$el-var-tags: "\e62b";
$el-var-tag: "\e62c";
$el-var-stumbleupon: "\e62d";
$el-var-stop-alt: "\e62e";
$el-var-stop: "\e62f";
$el-var-step-forward: "\e630";
$el-var-step-backward: "\e631";
$el-var-star-empty: "\e632";
$el-var-star-alt: "\e633";
$el-var-star: "\e634";
$el-var-stackoverflow: "\e635";
$el-var-spotify: "\e636";
$el-var-speaker: "\e637";
$el-var-soundcloud: "\e638";
$el-var-smiley-alt: "\e639";
$el-var-smiley: "\e63a";
$el-var-slideshare: "\e63b";
$el-var-skype: "\e63c";
$el-var-signal: "\e63d";
$el-var-shopping-cart-sign: "\e63e";
$el-var-shopping-cart: "\e63f";
$el-var-share-alt: "\e640";
$el-var-share: "\e641";
$el-var-search-alt: "\e642";
$el-var-search: "\e643";
$el-var-screenshot: "\e644";
$el-var-screen-alt: "\e645";
$el-var-screen: "\e646";
$el-var-scissors: "\e647";
$el-var-rss: "\e648";
$el-var-road: "\e649";
$el-var-reverse-alt: "\e64a";
$el-var-retweet: "\e64b";
$el-var-return-key: "\e64c";
$el-var-resize-vertical: "\e64d";
$el-var-resize-small: "\e64e";
$el-var-resize-horizontal: "\e64f";
$el-var-resize-full: "\e650";
$el-var-repeat-alt: "\e651";
$el-var-repeat: "\e652";
$el-var-remove-sign: "\e653";
$el-var-remove-circle: "\e654";
$el-var-remove: "\e655";
$el-var-refresh: "\e656";
$el-var-reddit: "\e657";
$el-var-record: "\e658";
$el-var-random: "\e659";
$el-var-quotes-alt: "\e65a";
$el-var-quotes: "\e65b";
$el-var-question-sign: "\e65c";
$el-var-question: "\e65d";
$el-var-qrcode: "\e65e";
$el-var-puzzle: "\e65f";
$el-var-print: "\e660";
$el-var-podcast: "\e661";
$el-var-plus-sign: "\e662";
$el-var-plus: "\e663";
$el-var-play-circle: "\e664";
$el-var-play-alt: "\e665";
$el-var-play: "\e666";
$el-var-plane: "\e667";
$el-var-pinterest: "\e668";
$el-var-picture: "\e669";
$el-var-picasa: "\e66a";
$el-var-photo-alt: "\e66b";
$el-var-photo: "\e66c";
$el-var-phone-alt: "\e66d";
$el-var-phone: "\e66e";
$el-var-earphone: "\e66e";
$el-var-person: "\e66f";
$el-var-pencil-alt: "\e670";
$el-var-pencil: "\e671";
$el-var-pause-alt: "\e672";
$el-var-pause: "\e673";
$el-var-path: "\e674";
$el-var-paper-clip-alt: "\e675";
$el-var-paperclip-alt: "\e675";
$el-var-paper-clip: "\e676";
$el-var-paperclip: "\e676";
$el-var-opensource: "\e677";
$el-var-ok-sign: "\e678";
$el-var-ok-circle: "\e679";
$el-var-ok: "\e67a";
$el-var-off: "\e67b";
$el-var-network: "\e67c";
$el-var-myspace: "\e67d";
$el-var-music: "\e67e";
$el-var-move: "\e67f";
$el-var-minus-sign: "\e680";
$el-var-minus: "\e681";
$el-var-mic-alt: "\e682";
$el-var-mic: "\e683";
$el-var-map-marker-alt: "\e684";
$el-var-map-marker: "\e685";
$el-var-male: "\e686";
$el-var-magnet: "\e687";
$el-var-magic: "\e688";
$el-var-lock-alt: "\e689";
$el-var-lock: "\e68a";
$el-var-livejournal: "\e68b";
$el-var-list-alt: "\e68c";
$el-var-list: "\e68d";
$el-var-linkedin: "\e68e";
$el-var-link: "\e68f";
$el-var-lines: "\e690";
$el-var-leaf: "\e691";
$el-var-lastfm: "\e692";
$el-var-laptop-alt: "\e693";
$el-var-laptop: "\e694";
$el-var-key: "\e695";
$el-var-italic: "\e696";
$el-var-iphone-home: "\e697";
$el-var-instagram: "\e698";
$el-var-info-sign: "\e699";
$el-var-indent-right: "\e69a";
$el-var-indent-left: "\e69b";
$el-var-inbox-box: "\e69c";
$el-var-inbox-alt: "\e69d";
$el-var-inbox: "\e69e";
$el-var-idea-alt: "\e69f";
$el-var-idea: "\e6a0";
$el-var-hourglass: "\e6a1";
$el-var-home-alt: "\e6a2";
$el-var-home: "\e6a3";
$el-var-heart-empty: "\e6a4";
$el-var-heart-alt: "\e6a5";
$el-var-heart: "\e6a6";
$el-var-hearing-impaired: "\e6a7";
$el-var-headphones: "\e6a8";
$el-var-hdd: "\e6a9";
$el-var-hand-up: "\e6aa";
$el-var-hand-right: "\e6ab";
$el-var-hand-left: "\e6ac";
$el-var-hand-down: "\e6ad";
$el-var-guidedog: "\e6ae";
$el-var-group-alt: "\e6af";
$el-var-group: "\e6b0";
$el-var-graph-alt: "\e6b1";
$el-var-graph: "\e6b2";
$el-var-googleplus: "\e6b3";
$el-var-globe-alt: "\e6b4";
$el-var-globe: "\e6b5";
$el-var-glasses: "\e6b6";
$el-var-glass: "\e6b7";
$el-var-github-text: "\e6b8";
$el-var-github: "\e6b9";
$el-var-gift: "\e6ba";
$el-var-gbp: "\e6bb";
$el-var-fullscreen: "\e6bc";
$el-var-friendfeed-rect: "\e6bd";
$el-var-friendfeed: "\e6be";
$el-var-foursquare: "\e6bf";
$el-var-forward-alt: "\e6c0";
$el-var-forward: "\e6c1";
$el-var-fork: "\e6c2";
$el-var-fontsize: "\e6c3";
$el-var-font: "\e6c4";
$el-var-folder-sign: "\e6c5";
$el-var-folder-open: "\e6c6";
$el-var-folder-close: "\e6c7";
$el-var-folder: "\e6c8";
$el-var-flickr: "\e6c9";
$el-var-flag-alt: "\e6ca";
$el-var-flag: "\e6cb";
$el-var-fire: "\e6cc";
$el-var-filter: "\e6cd";
$el-var-film: "\e6ce";
$el-var-file-new-alt: "\e6cf";
$el-var-file-new: "\e6d0";
$el-var-file-edit-alt: "\e6d1";
$el-var-file-edit: "\e6d2";
$el-var-file-alt: "\e6d3";
$el-var-file: "\e6d4";
$el-var-female: "\e6d5";
$el-var-fast-forward: "\e6d6";
$el-var-fast-backward: "\e6d7";
$el-var-facetime-video: "\e6d8";
$el-var-facebook: "\e6d9";
$el-var-eye-open: "\e6da";
$el-var-eye-close: "\e6db";
$el-var-exclamation-sign: "\e6dc";
$el-var-eur: "\e6dd";
$el-var-error-alt: "\e6de";
$el-var-error: "\e6df";
$el-var-envelope-alt: "\e6e0";
$el-var-envelope: "\e6e1";
$el-var-eject: "\e6e2";
$el-var-edit: "\e6e3";
$el-var-dribbble: "\e6e4";
$el-var-download-alt: "\e6e5";
$el-var-download: "\e6e6";
$el-var-digg: "\e6e7";
$el-var-deviantart: "\e6e8";
$el-var-delicious: "\e6e9";
$el-var-dashboard: "\e6ea";
$el-var-css: "\e6eb";
$el-var-credit-card: "\e6ec";
$el-var-compass-alt: "\e6ed";
$el-var-compass: "\e6ee";
$el-var-comment-alt: "\e6ef";
$el-var-comment: "\e6f0";
$el-var-cogs: "\e6f1";
$el-var-cog-alt: "\e6f2";
$el-var-cog: "\e6f3";
$el-var-cloud-alt: "\e6f4";
$el-var-cloud: "\e6f5";
$el-var-circle-arrow-up: "\e6f6";
$el-var-circle-arrow-right: "\e6f7";
$el-var-circle-arrow-left: "\e6f8";
$el-var-circle-arrow-down: "\e6f9";
$el-var-child: "\e6fa";
$el-var-chevron-up: "\e6fb";
$el-var-chevron-right: "\e6fc";
$el-var-chevron-left: "\e6fd";
$el-var-chevron-down: "\e6fe";
$el-var-check-empty: "\e6ff";
$el-var-unchecked: "\e6ff";
$el-var-check: "\e700";
$el-var-certificate: "\e701";
$el-var-cc: "\e702";
$el-var-caret-up: "\e703";
$el-var-caret-right: "\e704";
$el-var-caret-left: "\e705";
$el-var-caret-down: "\e706";
$el-var-car: "\e707";
$el-var-camera: "\e708";
$el-var-calendar-sign: "\e709";
$el-var-calendar: "\e70a";
$el-var-bullhorn: "\e70b";
$el-var-bulb: "\e70c";
$el-var-brush: "\e70d";
$el-var-broom: "\e70e";
$el-var-briefcase: "\e70f";
$el-var-braille: "\e710";
$el-var-bookmark-empty: "\e711";
$el-var-bookmark: "\e712";
$el-var-book: "\e713";
$el-var-bold: "\e714";
$el-var-blogger: "\e715";
$el-var-blind: "\e716";
$el-var-bell: "\e717";
$el-var-behance: "\e718";
$el-var-barcode: "\e719";
$el-var-ban-circle: "\e71a";
$el-var-backward: "\e71b";
$el-var-asl: "\e71c";
$el-var-arrow-up: "\e71d";
$el-var-arrow-right: "\e71e";
$el-var-arrow-left: "\e71f";
$el-var-arrow-down: "\e720";
$el-var-align-right: "\e721";
$el-var-align-left: "\e722";
$el-var-align-justify: "\e723";
$el-var-align-center: "\e724";
$el-var-adult: "\e725";
$el-var-adjust-alt: "\e726";
$el-var-adjust: "\e727";
$el-var-address-book-alt: "\e728";
$el-var-address-book: "\e729";
$el-var-asterisk: "\e72a";
